@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 0px 20px;
}
body.dark-mode {
     background-color: #2c2c2c;
     color: #f5f5f5;
}
.theme-toggle .fa-moon {
    display: none;
}
.navbar {
    background-color: #403d39;
    color: white;
    display: flex;
}
.navbar-links {
    height: 100%;
}
.navbar-links ul {
    display: flex;
     padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-links li {
    padding: 0 10px;
}
.theme-toggle .dark-mode {
   background-color: #ffffff;
   color: black;
}
.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    line-height: 60px;
    display: block;
}
/* .cart {
    padding: 15px 30px;
    background-color: #62b6cb;
    border-radius: 5px;
    cursor: pointer;
} */
.cart i {
    font-size: 20px;
}
.toggle-button {
    text-decoration: none;
    display: none;
}
.toggle-button i {
    color: white;
}
.product-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
img {
    width: 100%;
}
.product {
    max-width: 310px;
    width: 100%;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   cursor: pointer;
}
.product img {
    width: 200px;
    height: 208px;
    border-radius: 5px;
    background-color: hsla(220, 9%, 46%, .1);
    margin-left: 20px;
    margin-bottom: 10px;
}

.product h5 {
    font-size: 18px;
    font-weight: 400;
     color: #374151;
     margin-bottom: 6px;
     margin-left: 18px;
}
.product p {
    font-size: 12px;
    color: #6B7280B2;
    margin-left: 18px;
    margin-bottom: 10px;
}
.product-sub {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-sub h3 {
    font-size: 16px;
    color: #374151;
}
.product button {
    -webkit-appearance: none;
    padding: 6px 16px;
    color: #6B7280;
    font-size: 12px;
    background-color: transparent;
    border: 1px solid rgba(107, 114, 128,);
    font-weight: 400;
    border-radius: 50px;
    line-height: 16px;
}
#cart-items {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  list-style: none;
  padding: 10px;
  width: 200px;
  display: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.cart {
  position: relative;
}
.cart:hover #cart-items {
  display: block;
}

/* #cart-items li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 5px;
} */
#cart-button {
   padding: 15px 30px;
    background-color: #62b6cb;
    border-radius: 5px;
    cursor: pointer;
    border: none;
 
}
#cart-button i {
     font-size: 20px;
     color: white;
}
@media(max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }
    .navbar-links {
       width: 100%;
           max-height: 0;
           opacity: 0;
           overflow: hidden;
            transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }
    .navbar-links ul {
        flex-direction: column;
    }
    
     .toggle-button {
        display: flex;
        position: absolute;
        top: 10px;
        right: 20px;
     }
     .btn {
        padding: 10px 20px;
        background-color: #62b6cb;
        border-radius: 5px;
        margin-top: 15px;
     }
     .container.active .navbar-links {
        opacity: 1;
        max-height: 300px;
     }
     .toggle-button .closeIcon {
        display: none;
     }
     .theme-toggle {
        display: none;
     }
}